
@{
    @model IEnumerable<Department>;
    ViewData["Title"] = "Find Department";
}

<!DOCTYPE html>

<html>

<body>
    <h2>
        Find department
    </h2>
    <form method="post">
        <label>Input your option</label><br />
        <input type="text" name="option" /><br /><br />
        <select name="findtype">
            <option value="Name">Find by name</option>
            <option value="Employee">Find by date of birth</option>
            <option value="Problem">Find by problem</option>
        </select>
        <input type="submit" value="Find" />
    </form>
    @foreach (Department dep in Model)
    {
        <label>@dep.Name</label><br />
    }
</body>
</html>
