
@{ 
    @model EmployeeParameters;
}

<!DOCTYPE html>

<html>
<body>
    <h2>
        Create employee
    </h2>
    <form method="post" action="CreateEmployee">
        <label> Input create options</label> <br />
        <label> Input name</label>
        @Html.EditorFor(m => m.Name)<br />
        <label> Input date of birth</label>
        @Html.EditorFor(m => m.DateOfBirth)<br />
        <label> Input departure name</label>
        @Html.EditorFor(m => m.DepartmentName)<br />
        <label> Add problem to employee problem-list</label>
        <input type="text" name="problems" /><br />
        <input type="submit" value="Create" />

    </form>

    @foreach (string problem in Model.Problems)
    {
        <label>@problem</label>
    }
</body>
</html>
