
@{
    ViewData["Title"] = "Main Window";
}

<!DOCTYPE html>

<html>
<body>
    <h2>
        IT Company
    </h2>
    <p>Choose your option</p>
    <ul>
        <li>
            @Html.ActionLink("Find Employee", "FindEmployee", "FindEmployee");
        </li>
        <li>
            
        </li>
    </ul>
</body>
</html>
